:root{
    --dayColor:red;
    --nightColor:rgb(6, 9, 51);
}
body{
    min-height: 100vh;
    width: calc(100vw - 150px);
    background: #eee;
    font-family: "varela round";
}
.item-1{
    grid-area: nav;
}
.item-2{
    grid-area: header;
    margin-top: -20px;
}
.item-3{
    grid-area: img;
    margin-top: -80px;
    margin-left: 25px;
}
.item-4{
    grid-area: main;
}
.item-5{
    grid-area: footer;
}
.btn{
    background: #FF581E;
    color: #fff
}
section{
    margin: 0px auto;
    height: 100vh;
    width: calc(100vw - 0px);
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: 60px 150px 100px auto 60px;
    grid-template-columns: 25vw auto 25vw;
    grid-template-areas:
    "nav nav nav"
    ". header ."
    ". img . "
    ". main ."
    "footer footer footer"
}
@media(max-width:650px){
    section{
        grid-template-columns: 0px auto 0px;
    }
}
div{
    background: transparent;
}
.amb-text{
    margin-left: 18px;
    margin: 100px auto;
    width: 90%;
}
.amb-name{
    margin-left: 48px;
    color: white;
    font-weight: bold;
}
.amb-text-container{
    background: white;
    margin-top: -120px;
    z-index: 5;
}
.profile-img{
    width:auto;
    max-width:100%;
    border-radius: 50%;
}