body{
    min-height: 100vh;
    width: calc(100vw - 150px);
    background: #eee;
    font-family: "varela round";
}
.item-1{
    grid-area: nav;
}
.item-2{
    grid-area: header;
    margin-top: -20px;
}
.item-3{
    grid-area: img;
    margin-top: -80px;
    margin-left: 25px;
}
.item-4{
    grid-area: main;
}
.item-5{
    grid-area: footer;
}
.btn{
    background: #FFE13E;
}
section{
    margin: 0px auto;
    height: 100vh;
    width: calc(100vw - 0px);
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: 60px 150px 100px auto 60px;
    grid-template-columns: 10vw auto 10vw;
    grid-template-areas:
    "nav nav nav"
    ". header ."
    ". img . "
    ". main ."
    "footer footer footer"
}
@media(max-width:600px){
    section{
        grid-template-columns: 0px auto 0px;
    }
}
div{
    background: transparent;
}
.amb-text{
    margin-left: 10px;
    margin-top: 100px;
}
.amb-name{
    margin-left: 30px;
    color: white;
    font-weight: bold;
}
.amb-text-container{
    background: white;
    margin-top: -120px;
    z-index: 5;
}